/*-- scss:defaults --*/

// --- Base colors ---
$body-bg: #ffffff;
$body-color: #212529;
$link-color: #2d7ac3;

// --- Navbar ---
$navbar-bg: #f1f3f5;
$navbar-fg: $body-color;
$navbar-hl: $link-color;

// --- Footer ---
$footer-bg: #f1f3f5;
$footer-fg: #575f67;

// --- Others ---
$code-block-bg-alpha: -.8;


/*-- scss:rules --*/

.navbar-brand img {
  max-height: 40px;
  padding: 5px;
}
