// /*-- scss:defaults --*/

// --- Base colors ---
$body-bg: #181818;
$body-color: white;
$link-color: #75AADB;

// --- Navbar ---
$navbar-bg: #101010;
$navbar-fg: $body-color;
$navbar-hl: $link-color;

// --- Footer ---
$footer-bg: #101010;
$footer-fg: #b0b0b0;

// --- Others ---
$code-block-bg-alpha: -.8;
 

/*-- scss:rules --*/

.navbar-brand img {
  max-height: 40px;
  padding: 5px;
}
